* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #21529a;
    color: #ffffff;
}

main {
    margin: 0em 0 2.4em 0;
    height: 36vh;
}

.title {
    display: flex;
}

.img-title-src {
    height: 11vh;
}

.text-title {
    font-size: 18px;
    margin: 5pt 0 0 14pt;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    margin: 15px 0 0 0;
    color: #fff;
    border: 3.5px solid #eee;
    background-color: #00255b;
    width: 19em;
    font-size: medium;
    padding: 0 .5em 0 .7em;
    height: 6vh;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
}

input::placeholder {
    color: #fff;
}

.input-option {
    outline: none;
    margin: 15px 0 0 0;
    color: #fff;
    border: 3.5px solid #eee;
    background-color: #00255b;
    width: 20.2em;
    font-size: medium;
    /* padding: 0 .5em 0 .7em; */
    height: 6vh;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
}

.input-option-list {
    border: 0px solid #eee;
    outline: none;
    background-color: #00255b;
    width: 19em;
    margin: 0vh 10vh 10vh 0vh;
    padding: 8px;
    font-size: medium;
    color: #eee;
}

ul, li {
    list-style-type: none;
}

option:first-child {
    color: #999;
    background-color: red;
}
.route {
    margin: 15px 0 0 0;
}

button {
    padding: 10px;
    border: 0px solid #eee;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    
}

button#play {
    width: 13.4em;
    background-color: #e200fd;
}

#pg {
    color: #eee;
}

button#instruction-btn {
    background-color: #fff600;
    margin: 0 0 0 9px;
    width: 10.3em;
}

#instru {
    color: #21529a;
}

.text-route {
    font-size: large;
    font-weight: 800;
}

button:hover {
    cursor: pointer;
}

aside {
    width: 40vw;
    background-color: #00255b;
    height: 70vh;
    padding: 1em 1em 0 1.9em;
    margin: 0 0 0 4em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.htp {
    display: flex;
    justify-content: space-between;
}

.text-htp {
    margin-top: 15px;
    font-size: medium;
}

h1 {
    font-weight: 800;
}

.close-img {
    width: 40px;
}

.htp-list {
    margin: 10px 0 0 0;
}

.list {
    margin: 20px 0 0 0;
}

